DarknessMap.xcodeproj/project.xcworkspace/xcuserdata/emilianoburgos.xcuserdatad/UserInterfaceState.xcuserstate
DarknessMap.xcodeproj/xcuserdata/emilianoburgos.xcuserdatad/xcschemes/DarknessMap.xcscheme
DarknessMap.xcodeproj/xcuserdata/emilianoburgos.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
